{% assign product = section.settings.product_data %} 
<div class="page-width">
    <h1> {{ product.title }}</h1>
    <p>{{ product.description |  truncatewords: 30 }}</p>
    <p>{{ product.price | money }}</p>
</div>

{% schema %}
{
    "name": "Custom Featured Product",
    "settings": [
        {
            "type": "product",
            "id": "product_data",
            "label": "Render Product" 
        }
    ],
    "presets": [
        {
            "name": "Custom Product"
        }
    ]
}
{% endschema %}