<div>
    {{section.settings.heading}}
</div>
{% schema %}
{
    "name": "Sadekur Bhai",
    "settings": [],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "settings": [

            ]
             
        }
    ]
    
}
{% endschema %}
