<div>
    {{section.settings.heading}}
</div>
{% schema %}
{
    "name": "Sadekur Bhai",
    "settings": [
        {
            "type": "richtext",
            "label": "my heading",
            "default": "<p>This is paragraph</p>",
            "id": "heading"
        }
    ]
    
}
{% endschema %}
